<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
<stringAttribute key="TLCCmdLineParameters" value=""/>
<stringAttribute key="configurationName" value="Model_2"/>
<intAttribute key="dfidDepth" value="100"/>
<booleanAttribute key="dfidMode" value="false"/>
<intAttribute key="distributedFPSetCount" value="0"/>
<stringAttribute key="distributedNetworkInterface" value="192.168.0.1"/>
<intAttribute key="distributedNodesCount" value="1"/>
<stringAttribute key="distributedTLC" value="off"/>
<stringAttribute key="distributedTLCVMArgs" value=""/>
<intAttribute key="fpBits" value="1"/>
<intAttribute key="fpIndex" value="1"/>
<intAttribute key="maxHeapSize" value="25"/>
<intAttribute key="maxSetSize" value="1000000"/>
<booleanAttribute key="mcMode" value="true"/>
<stringAttribute key="modelBehaviorInit" value=""/>
<stringAttribute key="modelBehaviorNext" value=""/>
<stringAttribute key="modelBehaviorSpec" value="SpecH"/>
<intAttribute key="modelBehaviorSpecType" value="1"/>
<stringAttribute key="modelBehaviorVars" value="interface, imem, h, wrNum, rdVal1, rdVal2"/>
<stringAttribute key="modelComments" value="A somewhat larger model checking type invariance and SpecH =&gt; NLS!SafeSpec"/>
<booleanAttribute key="modelCorrectnessCheckDeadlock" value="true"/>
<listAttribute key="modelCorrectnessInvariants">
<listEntry value="1TypeOKH"/>
</listAttribute>
<listAttribute key="modelCorrectnessProperties">
<listEntry value="1NLS!SafeSpec"/>
</listAttribute>
<stringAttribute key="modelExpressionEval" value=""/>
<stringAttribute key="modelParameterActionConstraint" value=""/>
<listAttribute key="modelParameterConstants">
<listEntry value="Writers;;{w1, w2};1;1"/>
<listEntry value="Readers;;{r1, r2};1;0"/>
<listEntry value="RegVals;;{v1, v2};1;0"/>
<listEntry value="InitRegVal;;v1;0;0"/>
</listAttribute>
<stringAttribute key="modelParameterContraint" value="\A i \in Writers :&#13;&#10;    wrNum[i] &lt; 3"/>
<listAttribute key="modelParameterDefinitions">
<listEntry value="NotMemVal;;NotMemVal;1;0"/>
<listEntry value="NotRegVal;;NotRegVal;1;0"/>
<listEntry value="NLS!NotRegVal;;NLS!NotRegVal;1;0"/>
<listEntry value="NLS!NotMemVal;;NLS!NotMemVal;1;0"/>
<listEntry value="NLS!Nat;;0..3;0;0"/>
</listAttribute>
<stringAttribute key="modelParameterModelValues" value="{}"/>
<stringAttribute key="modelParameterNewDefinitions" value=""/>
<intAttribute key="numberOfWorkers" value="2"/>
<booleanAttribute key="recover" value="false"/>
<stringAttribute key="result.mail.address" value=""/>
<intAttribute key="simuAril" value="-1"/>
<intAttribute key="simuDepth" value="100"/>
<intAttribute key="simuSeed" value="-1"/>
<stringAttribute key="specName" value="AfekSimplifiedH"/>
<stringAttribute key="view" value=""/>
</launchConfiguration>
